:root {
  /* COLOR */
  --clr-primary: 0 36% 70%;
  --clr-secondary: 0 6% 24%;
  --clr-error: 0 93% 68%;
  /* GRADIENT */
  --grad-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --grad-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  /* FONT FAMILY */
  --ff-josefin-sans: "Josefin Sans", sans-serif;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semibold: 600;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button {
  background: none;
  border: none;
  outline: transparent;
  font: inherit;
  padding: 0;
}

button {
  cursor: pointer;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
