:root {
  /* COLOR */
  --clr-primary: 0 36% 70%;
  --clr-secondary: 0 6% 24%;
  --clr-error: 0 93% 68%;
  /* GRADIENT */
  --grad-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --grad-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  /* FONT FAMILY */
  --ff-josefin-sans: "Josefin Sans", sans-serif;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semibold: 600;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button {
  background: none;
  border: none;
  outline: transparent;
  font: inherit;
  padding: 0;
}

button {
  cursor: pointer;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BODY */

body {
  font-family: var(--ff-josefin-sans);
  font-weight: var(--fw-normal);
  background: var(--grad-bg);
}

main {
  max-width: 23.44rem;
  min-height: 100vh;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  background: url("./images/bg-pattern-desktop.svg") no-repeat;
}

@media (min-width: 70rem) {
  main {
    max-width: 90rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* HEADER */

header {
  padding: 2rem;
}

.logo-wrapper {
  width: 6.25rem;
}

@media (min-width: 70rem) {
  header {
    align-self: flex-start;
    padding: 4rem 0 0 5.3rem;
  }

  .logo-wrapper {
    width: 100%;
  }
}

@media (min-width: 82rem) {
  header {
    padding-left: 10.3rem;
  }
}

/* HERO IMAGE */

@media (min-width: 70rem) {
  .hero-img-wrapper {
    grid-row: span 2;
    justify-self: end;
  }

  .hero-img-wrapper img {
    height: 100%;
    object-fit: cover;
  }
}

/* HERO CONTENT */

.content {
  text-align: center;
  margin: 4rem 2rem 5.75rem;
}

.title {
  font-size: 2.5rem;
  font-weight: var(--fw-semibold);
  letter-spacing: 0.688rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: hsl(var(--clr-secondary));
}

.title span {
  font-weight: var(--fw-light);
  color: hsl(var(--clr-primary));
}

.desc {
  font-size: 0.875rem;
  line-height: 1.6;
  color: hsl(var(--clr-primary));
  margin-top: 1em;
}

@media (min-width: 70rem) {
  .content {
    max-width: 27.8rem;
    text-align: left;
    margin: 0;
    margin-left: 5.3rem;
  }

  .title {
    font-size: 4rem;
    letter-spacing: 1.0625rem;
    line-height: 1.05;
  }

  .desc {
    font-size: 1rem;
    line-height: 1.75;
    margin-top: 1.5rem;
  }
}

@media (min-width: 82rem) {
  .content {
    margin-left: 10.3rem;
  }
}

/* SUBSCRIBE FORM */

.subscribe-form {
  --_clr-border: var(--clr-border, var(--clr-primary));
  --_display-error: var(--display-error, none);

  margin-top: 2rem;
}

.subscribe-form.error {
  --clr-border: var(--clr-error);
  --display-error: block;
}

.form-group {
  display: flex;
  border: 0.0625rem solid hsl(var(--_clr-border));
  border-radius: 5rem;
}

.form-group:is(:hover, :focus-within) {
  border-color: hsl(var(--_clr-border) / 75%);
}

.form-group input {
  flex: 1;
  font-size: 0.875rem;
  color: hsl(var(--clr-secondary));
  padding: 1rem 0.25rem 1rem 1.5rem;
}

.form-group input::placeholder {
  color: hsl(var(--clr-primary) / 75%);
}

.error-icon-wrapper {
  display: var(--_display-error);
  max-width: 1.25rem;
  margin: 1rem 0.5rem 1rem 0;
}

.error-text {
  display: var(--_display-error);
  font-size: 0.75rem;
  text-align: left;
  margin: 0.4rem 0 0 1.5rem;
  color: hsl(var(--clr-error));
}

.submit-btn {
  background: var(--grad-btn);
  padding: 0.813rem 1.5rem 0.813rem 1.688rem;
  border-radius: 5rem;
  box-shadow: 0 0 0.5rem hsl(var(--clr-primary));
  transition-duration: 200ms;
}

.submit-btn:is(:hover, :focus-visible) {
  transform: scale(1.1);
}

@media (min-width: 70rem) {
  .subscribe-form {
    margin-top: 2.5rem;
  }

  .form-group input {
    font-size: 1rem;
    padding: 1.313rem 0.25rem 1.188rem 2rem;
  }

  .error-icon-wrapper {
    max-width: 100%;
    margin-right: 1rem;
  }

  .submit-btn {
    padding: 1.125rem 2.688rem 1.125rem 2.875rem;
  }

  .error-text {
    font-size: 0.813rem;
    margin: 0.688rem 0 0 2rem;
  }
}
