:root {
  /* COLOR */
  --clr-primary: 0 36% 70%;
  --clr-secondary: 0 6% 24%;
  --clr-error: 0 93% 68%;
  /* GRADIENT */
  --grad-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --grad-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  /* FONT FAMILY */
  --ff-josefin-sans: "Josefin Sans", sans-serif;

  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semibold: 600;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button {
  background: none;
  border: none;
  outline: transparent;
  font: inherit;
  padding: 0;
}

button {
  cursor: pointer;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BODY */

body {
  font-family: var(--ff-josefin-sans);
  font-weight: var(--fw-normal);
  background: var(--grad-bg);
}

main {
  max-width: 23.44rem;
  min-height: 100vh;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  background: url("./images/bg-pattern-desktop.svg") no-repeat;
}

@media (min-width: 75rem) {
  main {
    max-width: 90rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* HEADER */

header {
  padding: 2rem;
}

.logo-wrapper {
  width: 6.25rem;
}

@media (min-width: 75rem) {
  header {
    align-self: flex-start;
    padding: 4rem 0 0 10.3rem;
  }

  .logo-wrapper {
    width: 100%;
  }
}

/* HERO IMAGE */

@media (min-width: 75rem) {
  .hero-img-wrapper {
    grid-row: span 2;
    justify-self: end;
  }

  .hero-img-wrapper img {
    height: 100%;
  }
}
